[tool.poetry]
name = "meta-memcache"
version = "0.9.0"
description = "Modern, pure python, memcache client with support for new meta commands."
license = "MIT"
readme = "README.md"
homepage = "https://github.com/RevenueCat/meta-memcache-py"
repository = "https://github.com/RevenueCat/meta-memcache-py"
authors = ["Guillermo Perez <bisho@revenuecat.com>"]

[tool.poetry.dependencies]
python = "^3.8"
uhashring = "^2.1"

[tool.poetry.dev-dependencies]
flake8 = "^4.0"
flake8-annotations = "^2.9"
flake8-bandit = "^3.0"
flake8-black = "^0.3"
flake8-bugbear = "^22.4"
flake8-docstrings = "^1.6"
mypy = "^0"

[tool.pytest.ini_options]
addopts = "-ra"
testpaths = [
    "tests",
]

[tool.isort]
profile = "black"
known_third_party = ["uhashring", "pytest", "pytest_mock"]

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["meta_memcache"]

[tool.coverage.report]
show_missing = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
